<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceLabs Mobile Suite" verbose="1" parallel="false">
    <test name="Mobile UI - Android">
        <classes>
            <class name="com.mydemo.tests.NavigationTest"/>
            <class name="com.mydemo.tests.LoginTest"/>
            <class name="com.mydemo.tests.CatalogTest"/>
            <class name="com.mydemo.tests.CartTest"/>
            <class name="com.mydemo.tests.CheckoutTest"/>
        </classes>
    </test>
    <test name="Backend API">
        <classes>
            <class name="com.mydemo.api.AuthApiTest"/>
            <class name="com.mydemo.api.ProductApiTest"/>
            <class name="com.mydemo.api.CartApiTest"/>
        </classes>
    </test>
</suite>
